{% extends 'black.html' %}
{% load static %}

{% block title %}
Interface Contable
{% endblock title %}

{% block content %}
{% include 'includes/datepicker_range.html' %}
{% include 'includes/database_select.html' %}
<!-- contenido de la pagina -->
  <br>
  <br>
    <div class="card" style="width: 25rem;">
    <div class="card-header text-center">
      <h2>Interface Contable</h2>
    </div>
    <div class="card-body">
      <form action="{% url 'home_app:interface' %}" method="post" id="myForm">
        {% csrf_token %}
          <label for="date_input">Fecha:</label>
          <div id="reportrange"
            style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th><label class="lh-1" for="IdtReporteIni">Fecha Inicial:</label></th>
                <th><label class="lh-1" for="IdtReporteFin">Fecha Final:</label></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><input type="date" name="IdtReporteIni" id="IdtReporteIni" readonly></th>
                <th><input type="date" name="IdtReporteFin" id="IdtReporteFin" readonly></th>
              </tr>
            </tbody>
          </table>
          </li>
        </div>
        <span class="card text-center"><button id="submitBtn" type="submit" class="btn btn-primary">Generar Interface Contable</button></span>
      </form>

      <br>
      <br>
      {% include 'includes/download_file.html' %}
    </div>
<!-- Este es el Modal -->
<div class="modal" id="processingModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Procesando...</h5>
      </div>
      <div class="modal-body">
        Por favor, espere mientras se genera el archivo...
      </div>
    </div>
  </div>
</div>
<!-- final del modal -->
{% endblock content %}

{% block script %}

<script>
  document.getElementById("processingModal").style.display = "none";
  document.getElementById("download_file").className='d-none';
  var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
  document.getElementById("submitBtn").addEventListener("click", function (event) {
  event.preventDefault();
  document.getElementById("processingModal").style.display = "flex";

  // Realiza la solicitud AJAX al servidor
  var xhr = new XMLHttpRequest();
  xhr.responseType = "text";
  xhr.open("POST", "{% url 'home_app:interface' %}", true);
  xhr.setRequestHeader("X-CSRFToken", csrf_token);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function () {
    if (this.readyState === XMLHttpRequest.DONE) {
      document.getElementById("processingModal").style.display = "none";
      console.log(this.status, this.responseText);
      var response = JSON.parse(this.responseText);
      handleServerResponse(this.status, response);
    }
  };
  var database = window.sessionStorage.getItem("database_name")
  var IdtReporteIni = document.getElementById("IdtReporteIni").value;
  var IdtReporteFin = document.getElementById("IdtReporteFin").value;
  xhr.send("database_select=" + encodeURIComponent(database) + "&IdtReporteIni=" + encodeURIComponent(IdtReporteIni) + "&IdtReporteFin=" + encodeURIComponent(IdtReporteFin));
});

function handleServerResponse(status, response) {
  if (status === 200) {
    try {
      if (typeof response === "object" && "success" in response && "error_message" in response) {
        if (response.success) {
          document.getElementById("download_file").className='d-flex';
          alert("Proceso terminado");
        } else {
          alert("Hubo un error en el proceso: " + response.error_message);
        }
      } else {
        throw new Error("La respuesta del servidor no es un objeto JSON válido");
      }
    } catch (e) {
      alert("Hubo un error en el proceso, por favor inténtelo de nuevo.");
      console.error(e);
    }
  } else {
    alert("Hubo un error en el proceso, por favor inténtelo de nuevo.");
  }
}
// Función para borrar el archivo después de descargarlo
function deleteFile() {
  // Realiza una llamada a una vista en Django que se encargue de borrar el archivo
  var xhr = new XMLHttpRequest();
  xhr.responseType = "text";
  xhr.open("POST", "{% url 'home_app:delete_file' %}", true);
  xhr.setRequestHeader("X-CSRFToken", csrf_token);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function () {
    if (this.readyState === XMLHttpRequest.DONE) {
      console.log(this.status, this.responseText);
    }
  };
  xhr.send();
}
// Función para recargar el formulario después de borrar el archivo
function reloadForm() {
  location.reload();
}
// Ejecuta las funciones después de descargar el archivo
document.getElementById("download_file").addEventListener("click", function () {
  var link = this;
  
  document.getElementById("download_file").className='d-none';
  link.onclick = function () {
    return false;
  };
  setTimeout(function () {
    deleteFile();
    setTimeout(reloadForm, 1000);
  }, 1000);
});
</script>
{% endblock script %}