<script>
  $(document).ready(function() {
      $.get('{% url "users_app:database_list" %}', function(data) {
          var databaseSelect = $('#database_select');
          $.each(data.database_list, function(index, databaseName) {
              databaseSelect.append('<option value="' + databaseName + '">' + databaseName + '</option>');
          });

          var databaseName = window.sessionStorage.getItem("database_name");

          if (databaseName) {
              document.getElementById("database_select").value = databaseName;
          }
      });

      document.getElementById("database_select").addEventListener("change", function() {
          var select = this;
          var database = select.options[select.selectedIndex].value;
          window.sessionStorage.setItem("database_name", database);
      });
  });
</script>
<script>
  document.getElementById("database_select").addEventListener("change", function() {
    var select = this;
    var database = select.options[select.selectedIndex].value;
  
    // Realiza la solicitud AJAX al servidor para actualizar el valor de database_name en la sesión
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "{% url 'bi_app:reporte_bi' %}", true);
    xhr.setRequestHeader("X-CSRFToken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.onreadystatechange = function () {
      if (this.readyState === XMLHttpRequest.DONE) {
        if (this.status === 200) {
          // Si la respuesta del servidor es exitosa, recarga la página
          location.reload();
        } else {
          console.log("Error al actualizar el valor de database_name en la sesión:", this.status, this.responseText);
        }
      }
    };
    xhr.send("database_select=" + encodeURIComponent(database));
  });
  
</script>